{{#extends "base"}}

{{#block "content"}}
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quas id veniam in doloremque numquam laudantium exercitationem. Odio eligendi in ex, ipsa natus laudantium ipsam error facere magnam sapiente fuga.</p>
{{/block}}


{{#block "title"}}
About Us
{{/block}}

{{/extends}}