{{#extends 'base'}}

{{#block "content"}}
<h1>BMI Calculator</h1>
<form method="POST">
    <div>
        <label>Weight:</label>
        <input type="text" name="weight" class="form-control"/>
    </div>
    <div>
        <label>Height:</label>
        <input type="text" name="height" class="form-control">
    </div>
    <input type="submit"/>
</form>



{{/block}}

{{/extends}}